:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}
.signup{
  margin: 2rem auto;
  padding: 1rem 2rem;
  align-items: center;
  width: 400px;
  height: 50vh;
  border-radius: 10px;
}
.login{
  margin: 2rem auto;
  padding: 1rem 2rem;
  align-items: center;
  width: 400px;
  height: 50vh;
  border-radius: 10px;
}
.container {
  position:absolute;
  text-emphasis-color: blue;
  margin-top: auto;
  top: 50px;
  left:10%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: #61dafb;
  display:list-item;
  align-self: auto;
  align-items:left;
  flex-wrap: wrap;
  width: 500px;
  color: darkblue;
}

.details-container {
  position:absolute;
  margin-top: 20px;
  margin-right: 750px;
  top: 50px;
  right:0%;
  background-color: white;
  border: 1px solid #ccc;
  width: 400px;
  color: #111111;
  

}
.bg{
  height: 500px;
}
.bg-image{
  height: 700px;
  width: 1900px;
}


